<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TestingVue</title>
    <link href="./style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app-vue">
      {{ message }}
    </div>

    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css"
    />
    <div id="app">
      <div class="navbar">
        <div class="colum">
          <div class="home">
            <i
              class="lni-home size-md "
              :class=" { 'lni-tada-effect' : showHome } "
              id="home"
              @click="showHome = !showHome"
            ></i>
            <h4 v-if="showHome" style="margin-top: 8px; color: #ffff;">Home</h4>
          </div>

          <div class="check">
            <i
              class="lni-check-mark-circle size-md"
              :class=" { 'lni-tada-effect' : showCheck } "
              id="check"
              @click="showCheck = !showCheck"
            ></i>
            <h4 v-if="showCheck" style="margin-top: 8px; color: #ffff;">
              Check
            </h4>
          </div>

          <div class="coin">
            <i
              class="lni-coin size-md"
              :class=" { 'lni-tada-effect' : showCoin } "
              id="coin"
              @click="showCoin = !showCoin"
            ></i>
            <h4 v-if="showCoin" style="margin-top: 8px; color: #ffff;">Coin</h4>
          </div>

          <div class="user">
            <i
              class="lni-user size-md"
              :class=" { 'lni-tada-effect' : showUser } "
              id="user"
              @click="showUser = !showUser"
            ></i>
            <h4 v-if="showUser" style="margin-top: 8px; color: #ffff;">User</h4>
          </div>
        </div>
      </div>
    </div>


    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
          <b-navbar-brand href="#">NavBar</b-navbar-brand>
      
          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      
          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <b-nav-item href="#">Link</b-nav-item>
              <b-nav-item href="#" disabled>Disabled</b-nav-item>
            </b-navbar-nav>
      
            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
              <b-nav-form>
                <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
              </b-nav-form>
      
              <b-nav-item-dropdown text="Lang" right>
                <b-dropdown-item href="#">EN</b-dropdown-item>
                <b-dropdown-item href="#">ES</b-dropdown-item>
                <b-dropdown-item href="#">RU</b-dropdown-item>
                <b-dropdown-item href="#">FA</b-dropdown-item>
              </b-nav-item-dropdown>
      
              <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                <template v-slot:button-content>
                  <em>User</em>
                </template>
                <b-dropdown-item href="#">Profile</b-dropdown-item>
                <b-dropdown-item href="#">Sign Out</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </div>




    <script src="./app.js"></script>
  </body>
</html>
